<!--clock기능. advertisement.ejs-->
import renderclockFunc from "../public/js/main/clock.js";


<!--넘어오는 data : foodImgList, foodVideoList / activityImgList, activityVideoList-->
<!--이미지와 비디오 조건 어떻게 나누지
조건에 따라 <img> 추가하거나 <video> 추가하면 될듯-->
    <!DOCTYPE html>
    <html>
        <head>
            <link rel='stylesheet' href='/css/main.css' /> 
            <%- include ("./part/header") %>
        </head> 
        <body>
            <div class="bg">
            <!-- <% let t = test.sum(10,20); %>
            <h1><%= t %></h1> -->
            <% let data = adsList[Math.floor(Math.random()*adsList.length)]; %>
            <% if (data.indexOf('.jpg') != -1) { %>
                <img src="<%= data %>"/>
            <% }else if (data.indexOf('.mp4') != -1) { %>
                <video muted autoplay loop>
                    <source src="<%= data %>" type="video/mp4">
                </video>
            <% } %>
            </div>
            <%- include ("./part/footer") %>
        </body>
    </html>        

healing.ejs
    <h2 id="date"><%= moment().format('YYYY년 MM월 DD일'); %></h2>z
    <h2 id="clock"></h2><%= moment().format('HH시 mm분 ss초'); %></h2> 
